<!--
COMMENT OUT AMAZON DEAL OF DAY
<div class="row style1 fade-in four">
  <div class="col-md-12">
    <p class="site">
      <img src='http://logonoid.com/images/amazon-logo.png'
      style='width:140px; margin-top:0px'><br>
      Deals of Day</p>
    <p style="font-size:.9em; text-align:center">
      <% @deals.last(6).each do |d| %>
      <div class="col-md-2">
        <a href='<%=d.url%>'>  <%= d.title %></a><br><%= d.price_a %><br> <%= d.discount_a %>
          </div>
      <% end %>

    </p>
  </div>
</div> -->
