<!-- <h1>HELLO</h1> -->
<div class='col-md-12' style='background-image:url("https://s30.postimg.org/nxa62uy75/headlyn_001.jpg"); height:800px'>
  <!-- <img src="https://s30.postimg.org/nxa62uy75/headlyn_001.jpg" style="margin-right:-30px; width:100%; opacity: 0.3;">
  <h1 style="margin-top:-300px; margin-left:200px; position:absolute; color:yellow">
    HELLO WORLD
  </h1> -->
  <h1 style="text-align:center; margin: 0 auto; margin-top:100px; color:yellow">
    HELLO WORLD
  </h1>
</div>
