<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>

<div class="row style2" id="cnn">
  <div class="col-md-12">
    <p class="site">
      <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Cnn.svg/2000px-Cnn.svg.png'
      style='width:235px; margin-top:100px'><br>
      Latest News</p>
      <style>
      .other {
        background-color:blue !important;
        background:blue !important;
        font-size:1.6em;
        padding:10px;
        margin:5px;
      }
      </style>
      <!-- <%# @cnns.past_day.each do |a| %>
        <div class="col-md-3 other">

        <div class="each_cnn" style='margin:10px; padding:10px'>
          <a href='<%#=a.url%>'>  <%#= a.title %> </a>
        </div>
      </div>
      <%# end %> -->


  <div class="grid">
      <% @cnns.past_day.uniq.each do |a| %>
        <div style=''>
            <% b = ["#224154", "#3A2759", "#837B31", "#835E31", "#423C05", "#665E19", "#133041", "#7E2F38", "#276927", "#2F3F05"] %>
        <div class="grid-item" style="background-color: <%= cycle(b) %>;  padding:25px; font-size:2em">
          <a href='<%=a.url%>'>  <%= a.title %>
            <% if a.image.present? %>
              <img src='<%= a.image  %>' style='width:100%'>
            <% end %>
          </a>
        </div>
        </div>
      <% end %>
        </div>
    <!-- </p> -->
  </div>
</div>

<style>
.grid-item { width: 200px; }
.grid-item--width2 { width: 400px; }
</style>


<script>
$('.grid').masonry({
  // options
  itemSelector: '.grid-item',
  columnWidth: 200
});
</script>
