<div class="row style2" id="cnn">
  <div class="col-md-12">
    <p class="site">
      <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Cnn.svg/2000px-Cnn.svg.png'
      style='width:485px; margin-top:0px'><br>
    </p>
    <div style="font-size:.9em; text-align:center; margin-left:15%; margin-right:15%">
      <h2>New Articles Today: <%= @cnns.past_day.all.count %></h2>
      <% @cnns.past_day.each_with_index do |a, i| %>
      <a href='<%=a.url%>'>
        <div class="animatedParent">
          <h2 class='animated bounceInDown' data-id='<%=i+1%>'> <%= a.title %> </h2>
        </div>
      </a>
      <% end %>
    </div>
  </div>
</div>
