<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>

<div class="row style2" id="cnn">
  <div class="col-md-12">
    <p class="site">
      <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Cnn.svg/2000px-Cnn.svg.png'
      style='width:235px; margin-top:100px'><br>
      Latest News</p>
      <style>
      .other {
        background-color:blue !important;
        background:blue !important;
        font-size:1.6em;
        padding:10px;
        margin:5px;
      }
      </style>
      <!-- <%# @cnns.past_day.each do |a| %>
        <div class="col-md-3 other">

        <div class="each_cnn" style='margin:10px; padding:10px'>
          <a href='<%#=a.url%>'>  <%#= a.title %> </a>
        </div>
      </div>
      <%# end %> -->

  <div class="grid">
      <% @cnns.past_day.each do |a| %>
        <div style=''>
        <div class="grid-item" style="background-color:blue; border:5px; margin-top:10px; padding:5px">
          <a href='<%=a.url%>'>  <%= a.title %> </a>
        </div>
        </div>
      <% end %>
        </div>
    <!-- </p> -->
  </div>
</div>

<style>
.grid-item { width: 200px; }
.grid-item--width2 { width: 400px; }
</style>

<div class="grid">
  <div class="grid-item">...</div>
  <div class="grid-item grid-item--width2">...</div>
  <div class="grid-item">...</div>
  ...
</div>

<script>
$('.grid').masonry({
  // options
  itemSelector: '.grid-item',
  columnWidth: 200
});
</script>
