<div class="row style2">
  <div class="col-md-12">
    <p class="site">
      <img src='http://www.userlogos.org/files/logos/euphonicnight/Drudge2.png'
      style='width:455px; margin-top:100px'><br>
      Latest News</p>
    <p style="font-size:.9em; text-align:center">
      <% @drudges.past_day.each do |a| %>
      <% if a.title.split.size > 3 %>
      <a href='<%=a.url%>'>  <%= a.title %> </a>
      <% end %>
      <% end %>
    </p>
  </div>
</div>
