<div class="row style2" id="espn">
  <div class="col-md-12">
    <p class="site">
      <img src='http://images.performgroup.com/di/library/sporting_news/57/9/espn-102215-ftrjpg_1x2ff5wf7ybvx1sg82exlvzoga.jpg?t=-1871569416'
      style='width:235px; margin-top:100px'><br>
    </p>
      <div style="font-size:.9em; text-align:center">
        <% @espns.past_day.each_with_index do |a, i| %>
        <a href='<%=a.url%>'>
          <div class="animatedParent">
            <h2 class='animated bounceInDown' data-id='<%=i+1%>'> <%= a.title %> </h2>
          </div>
        </a>
        <% end %>
      </div>
    </div>
  </div>
