
<div class="row style2" id="hacker_news">
  <div class="col-md-12">
    <p class="site">
      <img src='https://s3.amazonaws.com/GoRoost-Heroku/wp-content/uploads/2014/08/hacker-news.jpg'
      style='width:385px; margin-top:0px'><br>
    </p>
<div style="font-size:.9em; text-align:center; margin-left:15%; margin-right:15%">
  <h2>New Articles Today: <%= @hackernews.past_day.all.count %></h2>
  <% @hackernews.past_day.each_with_index do |a, i| %>
  <a href='<%=a.url%>'>
    <div class="animatedParent">
      <h2 class='animated bounceInDown' data-id='<%=i+1%>'> <%= a.title %> </h2>
    </div>
  </a>
  <% end %>
</div>
</div>
</div>
