
<div class="row style2" id="huff_post">
  <div class="col-md-12">
    <p class="site">
      <img src='http://s.m.huffpost.com/assets/Logo_HuffingtonPost-18ccffb20526ed0670da5409a95ed913.svg'
      style='width:485px; margin-top:0px'><br>
    </p>
<div style="font-size:.9em; text-align:center; margin-left:15%; margin-right:15%">
  <% @huffpost.past_day.each_with_index do |a, i| %>
  <a href='<%=a.url%>'>
    <div class="animatedParent">
      <h2 class='animated bounceInDown' data-id='<%=i+1%>'> <%= a.title %> </h2>
    </div>
  </a>
  <% end %>
</div>
</div>
</div>
