<style>
.med {
  padding-top:15px;
}
.opa {
  transition:.5s;
}
.opa:hover {
  opacity:.3;
  transition:.5s;
}
</style>
<div id="medium" class="row style2 fade-in three" style="">
  <!-- <div class="col-md-12"> -->
    <p class="site">
      <img src='http://www.digitalartsonline.co.uk/cmsdata/features/3626921/medium-m-color-688.png'
      style='width:90px; margin-top:0px' >
      Medium Most Read
    </p>
    <!-- <p style="font-size:.9em; text-align:center"> -->
  <div class="row">
  </div>
        <% @mediums.past_day.first(16).each do |m| %>
        <div class="col-md-3 medmed" style="text-align:center;">
        <!-- <div class="grid-item"> -->
          <% if m.picture.present? %>
          <a href='<%=m.url%>' style="text-align:center;">

          <!-- <div class="grid">
        <div class="grid-item"> -->
            <img src='<%= m.picture %>' class="opa" style="width:200px; height:150px">
            <!-- <div style="
    width: 215px; height:1px; vertical-align:bottom;" class="med">  <%= m.title %></div> -->
          <div style="width:100%; text-align:center; line-height:1; margin-bottom:10px; padding-bottom:40px; height: 1px;">
         <span style="font-size:.8em"><%= m.title %></span>
         </div>
          <!-- </div> -->
          <% end %>
          </a>
          </div>
      <% end %>
      <!-- </div> -->
    <!-- </p> -->
  </div>
