<style>
.tomato {
  transition:.5s;
}
.tomato:hover {
  transition:.5s;
  opacity:.3;
}
</style>
<div class="row style2 two rt" id="rt" style='margin-top:-20px'>
  <p class="site" style="    width: 100%;
margin: 0 auto;
text-align: center;
padding-top: 0%;
padding-bottom: .1%;">
    <img src='http://www.userlogos.org/files/logos/jumpordie/rottentomatoes_03.png'
    style='width:200px; margin-top:0px'>
  </p><br>
  <div class="col-md-12">
  <p style="font-size:.9em; text-align:center;">
    <% @movies.last(12).each_with_index do |m, index| %>
  <a href='<%=m.url%>'  class="list-<%=index+1%>">  <img src="<%=m.poster %>" class="tomato" style="width:150px">
    <% end %>
  </p>
</div>
</div>
