<div class="row style2">
  <div class="col-md-12">
    <p class="site">
      <img src='https://upload.wikimedia.org/wikipedia/commons/7/77/The_New_York_Times_logo.png'
      style='width:335px; margin-top:0px'><br>
      Latest News</p>
    <p style="font-size:.9em; text-align:center">
      <% @nytimes.past_day.each do |a| %>

      <a href='<%=a.url%>'>  <%= a.title %> </a>
      <% end %>
    </p>
  </div>
</div>
