
<div class="row style2" id="time">
  <div class="col-md-12">
    <p class="site">
      <img src='http://www.timeinc.com/wp-content/uploads/2014/04/time_logo.png'
      style='width:435px; margin-top:0px'><br>
    </p>
<div style="font-size:.9em; text-align:center; margin-left:15%; margin-right:15%">
  <% @times.past_day.each_with_index do |a, i| %>
  <a href='<%=a.url%>'>
    <div class="animatedParent">
      <h2 class='animated bounceInDown' data-id='<%=i+1%>'> <%= a.title %> </h2>
    </div>
  </a>
  <% end %>
</div>
</div>
</div>
