<style>
body{ margin: 0; padding: 0; background: #fafafa; }
</style>
<div class="row">
  <div class='col-md-12' style="width:100%">
    <p style="text-align:center">Today is
      <%= Time.now.strftime("%m/%d/%Y") %>
    </p>
  </div>
</div>
<div class="row">
    <div class="col-md-4">
      <p>COL 1</p>
    </div>
    <p class="col-md-4">COL 2</p>
    <p class="col-md-4">COL 3</p>
</div>



</div>
