<link href="https://fonts.googleapis.com/css?family=Arvo|Cabin" rel="stylesheet">
<script src="https://cdn.rawgit.com/mightyCrow/dont-go/master/lib/dont-go.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<script src="https://cdn.rawgit.com/leafo/sticky-kit/v1.1.2/jquery.sticky-kit.min.js">
</script>
<script src="https://unpkg.com/scrollreveal@3.3.2/dist/scrollreveal.min.js"></script>
<style>
body {
    font-family: Verdana;
}

.active {
    background: #555;
    color: #f3f3f3;
}

/* Button 0 */


.button-wrap {
  width: 160px;
  margin: 40px auto 0;
  cursor: pointer;
}
.button-bg {
  width: 100%;
  height: 100%;
  background-color: #000;
  border-radius: 40px;
  padding: 3px;
  color:#fff;
  transition:all 0.2s ease;
}
.button-switch {
  position:relative;
  left:0px;
  width: 74px;
  height: 74px;
  border:solid 22px;
  border-radius: 36px;
  transition:all 0.2s ease;
}
.button-active .button-switch { left:80px; }
.button-on,
.button-off {
  position:absolute;
  transition:all 0.2s ease;
  padding-top:15px;
  font-size:2.4em;
  font-weight:bold;
}
.button-on { margin-left:110px; }
.button-off { margin-left:30px; color:#dd2222; }
.button-active .button-off { color:#fff; }
.button-active .button-on { color:#22dd22; }
.button-active .button-bg { background-color:#000; }


/* BUTTON 1 */


.one .button-wrap {
  width: 120px;
  margin: 40px auto 0;
  cursor: pointer;
}
.one .button-bg {
  width: 100%;
  height: 100%;
  background-color: #000;
  border-radius: 40px;
  padding: 3px;
  color:#fff;
  transition:all 0.2s ease;
}
.one .button-switch {
  position:relative;
  left:0px;
  width: 64px;
  height: 44px;
  border:solid 13px;
  border-radius: 36px;
  transition:all 0.2s ease;
}
.one .button-active .button-switch { left:50px; }
.one .button-in,
.one .button-out {
  position:absolute;
  transition:all 0.2s ease;
  padding-top:15px;
  font-size:0.8em;
  text-transform:uppercase;
  font-weight:bold;
}
.one .button-in { margin-left:76px; }
.one .button-out { margin-left:18px; color:#dd2222; }
.one .button-active .button-out { color:#fff; }
.one .button-active .button-in { color:#22dd22; }
.one .button-active .button-bg { background-color:#000; }


/* BUTTON 2 */


.two .button-wrap {
  width: 120px;
  margin: 40px auto 0;
  cursor: pointer;
}
.two .button-bg {
  width: 100%;
  height: 100%;
  background-color: #ddd;
  border-radius: 0px;
  padding: 3px;
  color:#fff;
  transition:all 0.2s ease;
}
.two .button-active .button-bg {
  background-color: #22dd22;
}
.two .button-switch {
  position:relative;
  left:0px;
  width: 64px;
  height: 44px;
  border:solid 13px;
  border-radius: 0px;
  transition:all 0.2s ease;
}
.two .button-active .button-switch { left:50px; }
.two .button-in,
.two .button-out {
  position:absolute;
  transition:all 0.2s ease;
  padding-top:15px;
  font-size:0.8em;
  text-transform:uppercase;
  font-weight:bold;
}
.two .button-in { margin-left:76px; }
.two .button-out { margin-left:18px; color:#dd2222; }
.two .button-active .button-out { color:#fff; }
.two .button-active .button-in { color:#22dd22; }
.two .button-active .button-bg { background-color:#000; }


/* BUTTON 3 */


.three .button-wrap {
  width: 100px;
  margin: 40px auto 0;
  cursor: pointer;
}
.three .button-bg {
  width: 100%;
  height: 100%;
  background-color: #ddd;
  border-radius: 40px;
  padding: 3px;
  color:#fff;
  transition:all 0.2s ease;
}
.three .button-switch {
  position:relative;
  left:0px;
  width: 44px;
  height: 44px;
  border:solid 13px;
  background-color:#fff;
  border-radius: 36px;
  transition:all 0.2s ease;
}
.three .button-active .button-switch { left:50px; }
.three .button-in,
.three .button-out {
  position:absolute;
  transition:all 0.2s ease;
  padding-top:15px;
  font-size:0.8em;
  text-transform:uppercase;
  font-weight:bold;
}
.three .button-in { margin-left:76px; }
.three .button-out { margin-left:18px; }
.three .button-active .button-out {  }
.three .button-active .button-in {  }
.three .button-active .button-bg { background-color:#22bb22; }


/* BUTTON 4 */


.four .button-wrap {
  width: 100px;
  margin: 40px auto 0;
  cursor: pointer;
}
.four .button-bg {
  width: 100%;
  height: 100%;
  background-color: #bb2222;
  border-radius: 40px;
  padding: 3px;
  color:#fff;
  transition:all 0.2s ease;
}
.four .button-switch {
  position:relative;
  left:0px;
  width: 44px;
  height: 44px;
  border:solid 13px;
  background-color:#fff;
  border-radius: 36px;
  transition:all 0.2s ease;
}
.four .button-active .button-switch { left:50px; }
.four .button-in,
.four .button-out {
  position:absolute;
  transition:all 0.2s ease;
  padding-top:15px;
  font-size:0.8em;
  text-transform:uppercase;
  font-weight:bold;
}
.four .button-in { margin-left:76px; }
.four .button-out { margin-left:18px; }
.four .button-active .button-out {  }
.four .button-active .button-in {  }
.four .button-active .button-bg { background-color:#22bb22; }


/* BUTTON 5 */


.five .button-wrap {
  width: 120px;
  margin: 40px auto 0;
  cursor: pointer;
}
.five .button-bg {
  width: 100%;
  height: 100%;
  background-color: #000;
  border-radius: 40px;
  padding: 3px;
  color:#fff;
  transition:all 0.2s ease;
}
.five :hover.button-bg {
  color:#22dd22;
}
.five .button-active :hover.button-bg {

}
.five .button-switch {
  position:relative;
  left:0px;
  width: 64px;
  height: 44px;
  background-color:#fff;
  /*border:solid 13px;*/
  border-radius: 36px;
  transition:all 0.2s ease;
}
.five .button-active .button-switch { left:50px; }
.five .button-in,
.five .button-out {
  position:absolute;
  transition:all 0.2s ease;
  padding-top:15px;
  font-size:0.8em;
  text-transform:uppercase;
  font-weight:bold;
}
.five .button-in { margin-left:82px; }
.five .button-out { margin-left:12px; color:#dd2222; }
.five .button-active .button-out { color:#fff; }
.five .button-active .button-in { color:#22dd22; }
.five .button-active .button-bg { background-color:#000; }


/* BUTTON 6 */


.six .button-wrap {
  width: 100px;
  margin: 40px auto 0;
  cursor: pointer;
}
.six .button-bg {
  width: 100%;
  height: 100%;
  background-color: #ddd;
  border-radius: 40px;
  padding: 3px;
  color:#fff;
  transition:all 0.2s ease;
}
.six .button-switch {
  position:relative;
  left:0px;
  width: 44px;
  height: 44px;
  border-color:#bb2222;
  border-radius: 36px;
  transition:all 0.2s ease;
}
.six .button-active .button-switch { left:50px; border-color:#22bb22; }
.six .button-in,
.six .button-out {
  position:absolute;
  transition:all 0.2s ease;
  padding-top:15px;
  font-size:0.8em;
  text-transform:uppercase;
  font-weight:bold;
}
.six .button-in { margin-left:76px; }
.six .button-out { margin-left:18px; }
.six .button-active .button-out {  }
.six .button-active .button-in {  }
.six .button-active .button-bg {  }
</style>
<script>
dontGo({
    title: 'Miss you!',
    faviconSrc: 'path/to/Alternative/favicon.ico',
    timeout: 5000 //5 seconds
});
</script>


<link href="https://fonts.googleapis.com/css?family=Mrs+Saint+Delafield" rel="stylesheet">
<div class="container-fluid">
  <nav class="navbar navbar-default navbar-fixed-top" style="background-color:black; border-bottom: 2px solid rgba(128, 128, 128, 0.38)">
  <div class="container">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">OM<b>NEWS</b>ENCE</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">News<span class="sr-only">(current)</span></a></li>
      <li><a href="#">Tech</a></li>
      <li><a href="#">Arts</a></li>
      <li><a href="#">Travel</a></li>
      <li><a href="#">Shopping</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Log In</a></li>
      <li><a href="#">Sign Up</a></li>
    </ul>
  </div>
  </div>
  </nav>
<div class="row">
  <div class='col-md-12' style="width:100%">
</div>


  <div id="col2" class="col-md-12 sec">

    <!-- OVERVIEW -->
  <%= render 'abovefold' %>
  <button>Toggle 'em</button>
  <div class='boo'>Hiya</div>
  <div class='boo'>Such intersting boo.</div>

  <h1>Latest Stories</h1>
  <div class="zero">
    <div class="button-wrap">
      <div class="button-bg">
        <div class="button-off">&#8226;</div>
        <div class="button-on">&#8226;</div>
        <div class="button-switch"></div>
      </div>
    </div>
  </div>

  <h1>Source</h1>
  <div class="zero">
    <div class="button-wrap">
      <div class="button-bg">
        <div class="button-off">&#8226;</div>
        <div class="button-on">&#8226;</div>
        <div class="button-switch"></div>
      </div>
    </div>
  </div>

  <h1>News</h1>
  <div class="zero">
    <div class="button-wrap">
      <div class="button-bg">
        <div class="button-off">&#8226;</div>
        <div class="button-on">&#8226;</div>
        <div class="button-switch"></div>
      </div>
    </div>
  </div>

  <div class="one">
    <div class="button-wrap">
      <div class="button-bg">
        <div class="button-out">out</div>
        <div class="button-in">in</div>
        <div class="button-switch"></div>
      </div>
    </div>
  </div>

  <div class="two">
    <div class="button-wrap">
      <div class="button-bg">
        <div class="button-out">out</div>
        <div class="button-in">in</div>
        <div class="button-switch"></div>
      </div>
    </div>
  </div>

  <div class="three">
    <div class="button-wrap">
      <div class="button-bg">
        <div class="button-out"></div>
        <div class="button-in"></div>
        <div class="button-switch"></div>
      </div>
    </div>
  </div>

  <div class="four">
    <div class="button-wrap">
      <div class="button-bg">
        <div class="button-out"></div>
        <div class="button-in"></div>
        <div class="button-switch"></div>
      </div>
    </div>
  </div>

  <div class="five">
    <div class="button-wrap">
      <div class="button-bg">
        <div class="button-out">out</div>
        <div class="button-in">in</div>
        <div class="button-switch"></div>
      </div>
    </div>
  </div>

  <div class="six">
    <div class="button-wrap">
      <div class="button-bg">
        <div class="button-out"></div>
        <div class="button-in"></div>
        <div class="button-switch"></div>
      </div>
    </div>
  </div>
  <script>
  $('.button-wrap').on("click", function(){
    $(this).toggleClass('button-active');
  });
  </script>
  <%= render 'belowfold' %>
  <%= render 'test' %>
  <%#= render 'snapshot' %>
  <section id="#">
    <%#= render 'foxnews' %>
  </section>
    <!-- MEDIA -->
  <section id="#">
  <%#= render 'cnn' %>
  </section>
  <section id="#">
  <%#= render 'reddit' %>
  </section>
  <section id="#">
    <%#= render 'economist2' %>
  </section>
  <section id="#">
    <%#= render 'hackernews' %>
  </section>
  <section id="#">
    <%#= render 'wsj' %>
  </section>
  <section id="#">
    <%#= render 'time' %>
  </section>
  <section id="#">
    <%#= render 'usatoday' %>
  </section>
  <section id="#">
    <%#= render 'newsweek' %>
  </section>
  <section id="#">
    <%#= render 'nytimes2' %>
  </section>
  <section id="#">
    <%#= render 'huffpost' %>
  </section>
  <section id="#">
    <%= render 'cnn2' %>
  </section>
  <section id="#">
    <%#= render 'espn' %>
  </section>
  <section id="#">
    <%#= render 'buzzfeed' %>
  </section>
  <section id="#">
    <%#= render 'washingtonpost' %>
  </section>
  <section id="#">
    <%#= render 'drudge' %>
  </section>
  <section id="menu1">
  <%#= render 'movies' %>
  </section>
  <section id="menu2">
  <%#= render 'vimeo' %>
  </section>
    <!-- TECH -->
  <section id="menu3">
  <%#= render 'medium' %>
  </section>
  <section id="menu4">
  <%#= render 'awwward' %>
  </section>
  <%#= render 'nextweb' %>
    <!-- TRENDING -->
  <section id="menu5">
  <%#= render 'imgur' %>
  </section>
  <section id="menu6">
  <%#= render 'google' %>
  </section>
  <section id="menu7">
  <%#= render 'twitter' %>
  </section>
    <!-- NEWS -->
  <section id="menu8">
  <%#= render 'nytimes' %>
  </section>
  <section id="menu9">
  <%#= render 'economist' %>
  </section>
  <!-- hacker news would be cool
  product hunt cool -->
  <%#= render 'amazon' %>

</div> <!-- end div col-md-9 -->
<br><br>
</div> <!-- end container-fluid -->

<!-- <script>
  sr.reveal('.fooReveal');
</script> -->

</div>


<script>
$( "button" ).click(function() {
  $( ".boo" ).toggle( "fast" );
});
$( "button" ).click(function() {
  $( "#cnn" ).toggle( "fast" );
});
</script>
