@import "bootstrap";

/* make keyframes that tell the start state and the end state of our object */

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}

.fade-in.one {
-webkit-animation-delay: 1.1s;
-moz-animation-delay: 1.1s;
animation-delay: 1.1s;
}

.fade-in.two {
-webkit-animation-delay: .9s;
-moz-animation-delay:.9s;
animation-delay: .9s;
}

.fade-in.three {
-webkit-animation-delay: 1s;
-moz-animation-delay: 1s;
animation-delay: 1s;
}

.fade-in.four {
-webkit-animation-delay: 1.1s;
-moz-animation-delay: 1.1s;
animation-delay: 1.1s;
}

/*---make a basic box ---*/
.box{
width: 200px;
height: 200px;
position: relative;
margin: 10px;
float: left;
border: 1px solid #333;
background: #999;
}

.site {
text-align:center; margin-bottom:0px; font-size:2.9em; font-family: 'Mrs Saint Delafield', cursive;
}
.style1 {
  background:#0375B4; color:white; font-family: "Cabin"; padding-bottom:20px; padding-top:20px;
}
.style1 a {
  color:#FFCE00;
}
.style2 {
  background:#007849;
  color:white;
  font-family: 'Cabin';
  padding-bottom:20px; padding-top:20px;
}
.style2 a {
  color:#FFCE00;
}
.style3 {
  background:#262228; color:white; font-family: 'Cabin'; padding-bottom:20px; padding-top:20px;
}
.style3 a {
  color:#FFCE00;
}
.linkii {
  color:white;
  text-decoration:none;
  transform:1s;
}
.linkii:hover {
  width:100%;
  background-color: #6D7993;
  font-weight:bold;
  transform:1s;
}
.list-1 {
  font-size:3em !important;
}
.list-2 {
  font-size:2em !important;
}
.list-3 {
  font-size:1.5em !important;
}
.sidebar {
  position:fixed;
    z-index:1;
    background-color:#C0B283;
    width:25%;
    top:0;
    left:0;
    bottom:0;
    border-right:2px solid black;
}
.widebar {
  position:fixed;
    z-index:1;
    background-color:#C0B283;
    width:55% !important;
    top:0;
    left:0;
    bottom:0;
    border-right:2px solid black;
}
.sec {
  transition: 1s;
}
a:hover {
  text-doecoration: none !important;

}
