<style>
body {
  background-color:black;
}
</style>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h1 style="text-align:center">Headlyn Daily Report</h1>
      <h2 style="text-align:center">November 27, 2016</h2>
    </div>
    <img class='img-circle img-responsive col-md-4' style="width:300px; height:230px; margin:0 auto;" src="https://s21.postimg.org/pq8gw5tyf/boogroveimage.jpg">
  </div>

  <div class="row">
    <div class="col-md-3" style="background-color:green">
      <img class='img-circle img-responsive col-md-4' style="width:300px; height:230px; margin:0 auto;" src="https://s21.postimg.org/pq8gw5tyf/boogroveimage.jpg">
    </div>
    <div class="col-md-9" style='background-color:orange; height:230px'>
      <h2>Headline</h2>
      <p>Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum Lorem ispum </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h3>Top Headlines</h3>
    </div>
    <div class="col-md-3">
      <h2>Watercooler</h2>
    </div>
    <div class="col-md-3">
      <h3>Most Common Stories</h3>
    </div>
    <div class="col-md-3">
      <h2>Top Comments</h2>
    </div>
  </div>
</div>
