<!DOCTYPE html>
<html>
<head>
  <title>Newsapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<style>
.header {
  background-color:gray;
}
</style>
<link href="https://fonts.googleapis.com/css?family=Arvo|Cabin" rel="stylesheet">
<body>
  <div class="row" style=' position:relative'>
    <img style="
    z-index:9999;
    position:absolute;
    max-width: 100%;
    height: auto;
    width: auto;
    text-align:center;" src="https://s3.eu-central-1.amazonaws.com/eu-ddream/dream_587a9c2043.jpg?1474658618849" alt="">

     <!-- style="   #transform text at angle
-webkit-transform: rotate(40deg);
-moz-transform: rotate(40deg);
-o-transform: rotate(40deg);
transform: rotate(40deg);
"> -->


<div class="container">

  <!-- <div class="row">
    <div class="col-md-2">
      <img style="width:80%" src="http://i678.photobucket.com/albums/vv149/75renegade/Bridgetscoloringbook/owl-mandala-t4570-2.png">
    </div>
    <div class="col-md-4">
      <br><br>
      <span style="font-size:2em">BOOGROVE</span><br>
      <span>Weaving Spiders Come Here</span>
    </div>
  </div> -->


      <div class="row">
</div>
  <br><br>
</div>
<%= yield %>


</body>
</html>
